@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #000000;
}
.main-container {
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.big-smile {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}
footer{
  height: 80px;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 15px 24px 24px 40px;
  /* position: absolute; */
  /* left: 16px;
  top: 104px; */
  margin-top: 50px;
  width: 450px;
  height: 250px;
  background: #ffe6e2;
  border-radius: 16px;
}
.joke-setup {
  font-size: 1.4em;
  line-height: 30px;
}
.joke-punchline {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 30px;
}
.button-feature {
  display: flex;
  justify-content: space-around;
  /* padding-bottom: 20px; */
}
.button-bkg {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30%;
  transition: all ease 0.5s;
}
.button-bkg:hover {
  cursor: pointer;
}

/* .like {
  background-color: #7de4a6;
  transition: all ease 0.5s;
} */
/* .dislike {
  background-color: #fa8775;
  
} */
.frown {
  margin-top: 20px;
  margin-left: 10px;
  height: 20px;
  width: 40px;
}

.smile {
  height: 20px;
  width: 40px;
  margin-top: 20px;
  margin-left: 10px;
}

/* .left-eye {
  position: absolute;
  left: 10.2%;
  right: 88.68%;
  top: 73.16%;
  bottom: 24.82%;
  background: #3632bf;
} */
/* .right-eye {
  position: absolute;
  left: 15.79%;
  right: 83.09%;
  top: 73.16%;
  bottom: 24.82%;
  background: #3632bf;
} */
/* .frown {
  position: absolute;
  left: 14.88%;
  right: 82.46%;
  top: 78.71%;
  bottom: 18.52%;
  background: #3632bf;
  transform: rotate(-180deg);
} */

/* .smile {
  position: absolute;
  left: 60%;
  right: 40%;
  top: 20%;
  bottom: 40%;
  background: #3632bf;
} */

/* .dislike-feature {
  position: absolute;
  left: 7%;
  right: 80.17%;
  top: 64.21%;
  bottom: 12.63%; 
} */

/* .like-feature{
  position: 11.94%;
  top: 75.93%;
  bottom: 21.29%;
  background: #3632bf;
} */
