@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #000000;
}
.main-container {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  /* The margins makes it responsive for all screensizes */
}
header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.big-smile {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
}
footer {
  height: 80px;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 15px 24px 24px 40px;
  margin-top: 50px;
  width: 450px;
  height: 250px;
  background: #ffe6e2;
  border-radius: 16px;
}
.joke-setup {
  font-size: 1.4em;
  line-height: 30px;
}
.joke-punchline {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 30px;
}

.button-feature {
  display: flex;
  justify-content: space-between;
}
.button-bkg {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30%;
  transition: background ease 0.5s;
}
.button-bkg:hover {
  cursor: pointer;
}

.frown {
  margin-top: 20px;
  margin-left: 10px;
  height: 20px;
  width: 40px;
}

.smile {
  height: 20px;
  width: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
